@font-face {
  font-family: "Flipkart";
  src: url(/src/fonts/Flipkart/Riona-Sans-W01-Bold-Italic.ttf);
}

#header-div {
  background-color: #ffb766;
  grid-column: 1/-1;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

#header-div .header-rightside {
  display: flex;
  gap: 15px;
}

#header-div .header-icon {
  width: 30px;
}

#header-div .header-icon:hover {
  cursor: pointer;
}

#header-div .header-text {
  font-family: "Flipkart";
  color: #475569;
}
